# MODEL
*.json.*
*.csv
!*subgraph*
/.history
/environ
**/.env
*__pycache__*
*/data/*.json
*.ipynb_checkpoints*
*.gz
*.pt

# Movies-Users APIs
**/back-env
**/node_modules

# Model API
model-api/data/MovieLensNeo4jMetaData/processed/
model-api/data/MovieLensNeo4jMetaData/raw/

# macOS

**/.DS_Store